.scores-tally{
    width: 46%;
    margin-top: 2%;
    margin-left: 3%;
    position: relative;
}

.round-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72%;
    margin: auto;
}

.games-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rounds {
    padding: 1%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-frame{
    /* background: lightskyblue; */
    width: 95%;
    height: 95%;
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
}

.video-frame{
    /* background-color: blueviolet; */
    width: 46%;
    align-self: flex-start;
    margin: 3% 5% 2% 2%; /*Top, Right, Bottom, Left*/
}

video#live-video{
    width: 100%;
    height: 100%;
}

.data-frame{
    /* background-color: pink; */
    width: 46%;
    height: 10%;
    margin-right: 0;
    margin-left: auto;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.averages{
    /* background-color: cadetblue; */
    width: 50%;
    height: 10%;
}

.heading {
    text-align: center;
}

.match-average,
.score-average {
    height: 10%;
    border-radius: 6px;
    overflow: hidden;
}

.match-average th,
.match-average td,
.score-average th,
.score-average td {
    padding: 5px;
    text-align: center;
}

.graph{
    /* background-color: rgb(143, 220, 20); */
}

.team {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    flex-grow: 1;
    border-radius: 5px;
}

.blue-team {
    background-color: #007bff;
    color: #fff;
}

.green-team {
    background-color: #28a745;
    color: #fff;
}

.team-name {
    font-weight: bold;
}