{% extends "base.html" %}

{% block title %}
    PopDarts Game
{% endblock %}

{% block content %}
    <link rel="stylesheet" href='../static/game.css' />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <body>
        <div class="page-frame">
            <div class="video-frame">
                <img src="{{url_for('video')}}" class="live-video">
                <!-- <br> -->
                <div class="center-button">
                    <form id="player_game" action = "/game" method="POST">
                        <label for="player1">Name: </label>
                        <input type="text" id="player1" name="player1" autocomplete="off" />
                        <label for="team1">Team: </label>
                        <strong class="blue-tag">Blue</strong>
                        <input type="hidden" id="team1" name="team1" value="Blue">

                        <br>
                        <label for="player2">Name: </label>
                        <input type="text" id="player2" name="player2" autocomplete="off" />
                        <label for="team2">Team: </label>
                        <strong class="green-tag">Green</strong>
                        <input type="hidden" id="team2" name="team2" value="Green">

                        <br>
                        <input type="submit">
                    </form>
                </div>
            </div>
            <div class="table-frame">
                <text class="center-button title-tag">Previous Game</text>
                <div class="previous-game">
                    <table class="table-game">
                        <thead>
                            <tr>
                                <th>Closest</th>
                                <th>{{ last_name[0][1] }}</th>
                                <th>{{ last_name[1][1] }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for round in last_game %}
                                <tr>
                                    <td>
                                        {% if round[4] != 0 %}
                                            home: {{ round[4] }}
                                        {% else %}
                                            away: {{ round[5] }}
                                        {% endif %}
                                    </td>
                                    <td>{{ round[2] }}</td>
                                    <td>{{ round[3] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="data-graph">
                    <div id="chart-container">
                        <canvas id="myChart" ></canvas>
                    </div>
                </div>
                <div class="buttons-tab">
                    <button name="graph1-button" title="RR Change">RRC</button> <!-- RR Change         -->
                    <button name="graph2-button" title="Score each round">SER</button> <!-- Score each round  -->
                    <button name="graph3-button" title="Miss per round">MPR</button> <!-- Miss per round    -->
                    <button name="graph4-button" title="Closes each round">CER</button> <!-- Closes each round -->
                </div>
            </div>
        </div>
    </body>
    <script>
        $( function() {
            var availableTags = {{ autocompleteData|tojson|safe }};

            $("#name1, #name2").autocomplete({
                source: availableTags,
                autoFocus: true
            });

            $('#playerGame').on('submit', function(e){
                var name1 = $('#player1').val();
                var name2 = $('#player2').val();

                if(!availableTags.includes(name1) || !availableTags.includes(name2)) {
                    alert('Please enter valid names.');
                    e.preventDefault();
                }
            });

            RR_score();
            $('button[name="graph1-button"]').click(function() {
                if (onChart){
                    onChart.destroy();
                }
                RR_score();
            });
            $('button[name="graph2-button"]').click(function() {
                if (onChart){
                    onChart.destroy();
                }
                score_each_round();
            });
            $('button[name="graph3-button"]').click(function() {
                if (onChart){
                    onChart.destroy();
                }
            });
            $('button[name="graph4-button"]').click(function() {
                if (onChart){
                    onChart.destroy();
                }
            });
        });

        const allPlayersData = {{ all_players_data | tojson }};
        const gameData = {{ last_game | tojson }};
        const lastName = {{ last_name | tojson }};
        let onChart;
        // Define an array of contrasting colors
        const colors = [
            '#28a745', // Green
            '#007bff', // Blue
        ];

        function score_each_round(){
            // Prepare the labels for the x-axis
            let labels = gameData.map(game => game[0]);
            // Prepare the home and away scores
            let homeScores = gameData.map(game => game[2]);
            let awayScores = gameData.map(game => game[3]);
            // Create the dataset for home scores
            let homeDataset = {
                label: 'Home',
                data: homeScores,
                backgroundColor: colors[0],
                borderColor: colors[0],
                borderWidth: 1
            };
            // Create the dataset for away scores
            let awayDataset = {
                label: 'Away',
                data: awayScores,
                backgroundColor: colors[1],
                borderColor: colors[1],
                borderWidth: 1
            };
            var ctx = document.getElementById('myChart').getContext('2d');
            onChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [homeDataset, awayDataset]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        x: {
                            title: {
                                display: true,
                                text: 'Game'
                            }
                        },
                        y: {
                            title: {
                                display: true,
                                text: 'Score'
                            },
                            beginAtZero: true
                        }
                    }
                }
            });
        }
        function RR_score() {
            // Prepare the labels for the x-axis
            let labels = [];
            for (let player in allPlayersData) {
                for (let game of allPlayersData[player]) {
                    if (!labels.includes(game[0])) {
                        labels.push(game[0]);
                    }
                }
            }
            labels.sort((a, b) => a - b);

            // Prepare the datasets
            let datasets = [];
            let colorIndex = 0;
            for (let player in allPlayersData) {
                if (player == lastName[0][1] || player == lastName[1][1]){
                    let playerRatings = [];
                    let lastKnownRating = null;
                    for (let i = 0; i < labels.length; i++) {
                        let game = allPlayersData[player].find(game => game[0] === labels[i]);
                        if (game) {
                            playerRatings[i] = game[1];
                            lastKnownRating = game[1];
                        } else {
                            playerRatings[i] = lastKnownRating;
                        }
                    }

                    datasets.push({
                        label: player,
                        data: playerRatings,
                        fill: false,
                        borderColor: colors[colorIndex % colors.length], // Use a contrasting color from the array
                        tension: 0.1
                    });
                }
                colorIndex++;
            }

            var ctx = document.getElementById('myChart').getContext('2d');
            onChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: datasets
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false
                }
            });
        }
    </script>
{% endblock %}