<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div>
        <canvas id="homeScoreChart"></canvas>
        <canvas id="awayScoreChart"></canvas>
    </div>

    <script>
        let home_scores = {{ home_scores | tojson }};
        let away_scores = {{ away_scores | tojson }};
        let rounds = {{ rounds | tojson }};

        var ctx = document.getElementById('homeScoreChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: rounds,
                datasets: [{
                    label: 'Home Scores',
                    data: home_scores,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        var ctx2 = document.getElementById('awayScoreChart').getContext('2d');
        var myChart2 = new Chart(ctx2, {
            type: 'line',
            data: {
                labels: rounds,
                datasets: [{
                    label: 'Away Scores',
                    data: away_scores,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
</body>
</html>
